body{
    background-color: #1F2937;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 0px;
    
}



.navbar{
    margin-left: 700px;
    margin-right: 700px;
    margin-bottom: 100px;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;  
}
.navbar img{
    margin-right: auto;  
}
.logo{
    height: auto;
    width: 100px;
}

.link{
    font-size: 18px;
    color: #E5E7EB;
}




.header{
    display: flex;
    flex: 1 1 auto;
    gap: 50px;
    margin-left: 700px;
    margin-right: 700px;
    margin-bottom: 100px;
    justify-content: flex-start;
    height: 300px;
    
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 1 auto;
    gap: 20px;   
 }
 .right{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
 }
.header h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;  
}
.header p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;   
}
.header button{
    background-color: #3882F6;
    border: 0;
    color: white;
    margin: 0;
    width: 115px;
    height: 30px;   
}
.header img{
    height: 100%;
    width: 100%;

}



.information{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.information h2{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.quote{
    background-color: #E5E7EB;
    
}

.quote em{
    font-size: 36px;
    color: #1F2937;
}

.action{
    background-color: #3882F6;
    
}